body {
 background-color: #3498db;
 text-align: center;
}

header {
    /*padding-top: 49px;*/
    height: 157px;
    background: url("images/logo.png") center top no-repeat;
}

#buttons a:first-child {
    margin-right: 8px;
}

@media screen and (min-width: 767px) {
	header {
	    margin-top: 200px;
	    height: 157px;
	    background-image: url("images/logo.png");
	}
}
